
@{
    ViewBag.Title = "Visualiza";
}

<h3>Informações do Funcionario</h3>
<table class="table table-hover">

    <thead>

    </thead>
    <tbody>
        <tr>
            <td>
                <div>Nome</div>
            </td>
            <td>
                @ViewBag.Funcionario.Nome
            </td>
        </tr>
        <tr>
            <td>
                <div>Equipe</div>
            </td>
            <td>
                @ViewBag.Funcionario.Equipe
            </td>
        </tr>
        <tr>
            <td>
                <div>Cargo</div>
            </td>
            <td>
                @ViewBag.Funcionario.Cargo
            </td>
        </tr>
        <tr>
            <td>
                <div>Maquina</div>
            </td>
            <td>
                @ViewBag.Funcionario.Maquina
            </td>
        </tr>
    </tbody>
</table>

